Code
{
  "name": "RAG Agent with Drive Input Integration",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1fgg1SkEwNWC3KC-nflKlaceMkrmGK0Zt",
          "mode": "list",
          "cachedResultName": "RAG agent",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1fgg1SkEwNWC3KC-nflKlaceMkrmGK0Zt"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "79579a2a-57c3-4b06-9bd8-6c7d8542f462",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        1216,
        -192
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iepxnYkf1vGiKioo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "70307afb-38a1-4695-a3c1-853c821375d5",
      "name": "Download File from Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1584,
        -192
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iepxnYkf1vGiKioo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "id": "1a790361-1f91-4a17-b9a3-bfdd8684200a",
      "name": "Insert Documents to Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1968,
        -192
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search through documents uploaded from Google Drive to find relevant information",
        "memoryKey": {
          "__rl": true,
          "value": "1RFFgy4zhFQwNxKZAUpoPKsVuEtJ2N8yY",
          "mode": "list",
          "cachedResultName": "1RFFgy4zhFQwNxKZAUpoPKsVuEtJ2N8yY"
        }
      },
      "id": "606739ea-9504-40d1-acf5-1bf0637c8fb6",
      "name": "Retrieve from Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1568,
        336
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "843b494f-e777-4304-adea-dd0d8570d2d2",
      "name": "Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2064,
        32
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "28e03f16-cf0e-4290-b0a3-6f61079df2c5",
      "name": "Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2144,
        240
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful AI assistant with access to documents from Google Drive. Use the document_search tool to find relevant information from the uploaded documents to answer user questions accurately. Always cite information from the documents when providing answers."
        }
      },
      "id": "305827dd-0061-4439-9847-5ae99c5a2fc7",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1472,
        112
      ]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1904,
        0
      ],
      "id": "7490be1d-56e6-49ec-9f83-6bd17ce2793c",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Pl3Or8CX9FQJ528O",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\ni am a HR Policy Q&A Agent .\nHow can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        1200,
        128
      ],
      "id": "63ce8dc2-5f91-4223-b57e-ae3582cbaffd",
      "name": "When chat message received",
      "webhookId": "1aba4ce3-84d4-41fd-997c-358ae65fab26"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1344,
        320
      ],
      "id": "22725abd-3eef-4f82-b4d7-54eec3e6855e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Pl3Or8CX9FQJ528O",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1664,
        544
      ],
      "id": "0d18c577-4b99-446a-b786-03150105f0e6",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "Pl3Or8CX9FQJ528O",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "path": "a4f1fc6a-1375-4f74-a53e-d2cbc3b8be46",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        864,
        -128
      ],
      "id": "1a6bef54-bd8b-4d26-aead-32947533a287",
      "name": "Webhook",
      "webhookId": "a4f1fc6a-1375-4f74-a53e-d2cbc3b8be46"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1856,
        128
      ],
      "id": "e316fce9-fc6a-43b9-830f-54804f212bef",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download File from Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File from Drive": {
      "main": [
        [
          {
            "node": "Insert Documents to Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Document Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Document Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Documents to Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve from Vector Store": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Insert Documents to Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Retrieve from Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "79ef5409-b66a-4a6e-bd71-4dcf442aafd6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fa7a0c208df05ffdba307be9452ae1d17d34a5afa9e14c3248b4325cd05eda42"
  },
  "id": "l8VrNDqr6YJ1agFD",
  "tags": []
}
